<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.struct.mapper.UserMapper">

    <resultMap id="UserResult" type="com.example.struct.domain.User">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="UserResult" parameterType="String">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="selectNowBirthDay" resultMap="UserResult" parameterType="Date">
        SELECT * FROM user where birthday = DATE_FORMAT(CURDATE(),'%Y-%m-%d %H:%i:%s')
    </select>

    <insert id="insertUser" parameterType="com.example.struct.domain.User">
        INSERT INTO user (id, name, age, birthday) VALUES (#{id}, #{name}, #{age},#{birthday});
    </insert>

</mapper>